body{

    background-color: rgb(13, 55, 92);
    color: white;
}

.imagens{

    display: block;
    margin: 0px auto;
    border-radius: 100px ;
}
h1{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;

}
.titulosprincipais{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    ;
    text-align: center;
    

}
.titulossecundarios{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    ;
    text-align: center;
    }

.bordas{
    border-style: dotted;
    border-width: thin;
    text-indent: 2%;
}
.bordas2{
    border-style: dotted;
    border-width: thin;
    text-indent: 2%;
    text-align: center;
}
.bordas3{
    
    border-style: groove;
    border-width: thin;
    text-indent: 2%;
    margin-right: 3%;
    margin-bottom: 3%;
    }
